# {{ ansible_managed }}
[Unit]
Description=The Pi-Hole container
After=local-fs.target

[Container]
Image=docker.io/pihole/pihole:latest
DNS={{ pi_hole__dns_ipv4_1 }}
DNS={{ pi_hole__dns_ipv4_2 }}
DNS={{ pi_hole__dns_ipv6_1 }}
DNS={{ pi_hole__dns_ipv6_2 }}
PublishPort=53:53/tcp
PublishPort=53:53/udp
PublishPort=80:80/tcp
AutoUpdate=registry
Volume={{ pi_hole__etc_dir }}/pihole:/etc/pihole:Z
Volume={{ pi_hole__etc_dir }}/dnsmasq.d:/etc/dnsmasq.d:Z
Timezone={{ pi_hole__timezone }}
Environment=TZ={{ pi_hole__timezone }}
Environment=WEBPASSWORD={{ pi_hole__web_password }}
Environment=FTLCONF_LOCAL_IPV4={{ pi_hole__local_ipv4 }}
Environment=PIHOLE_DNS_={{ pi_hole__dns_ipv4_1 }};{{ pi_hole__dns_ipv4_2 }};{{ pi_hole__dns_ipv6_1 }};{{ pi_hole__dns_ipv6_2 }}
Environment=DNSSEC=false
Environment=DHCP_ACTIVE=false
Environment=WEBTHEME=default-darker

[Install]
WantedBy=default.target
